{% extends "base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block title %}
Смена пароля
{% endblock %} | @Msfo_stock_bot


{% block content_title %}
Смена пароля
{% endblock %}



{% block content %}
{% include "security/_messages.html" %}
<div class="form-group col-4">
<form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
  {{ change_password_form.hidden_tag() }}
  {{ render_field_with_errors(change_password_form.password, class="form-control") }}
  {{ render_field_with_errors(change_password_form.new_password, class="form-control") }}
  {{ render_field_with_errors(change_password_form.new_password_confirm, class="form-control") }}
  <label class="mt-4"><input type="checkbox" class="form-check-input">Показать пароль</label>
  <br>
  <p>
      <button type="submit" class="btn btn-outline-success mt-4">Сменить пароль</button>
  </p>
</form>
</div>


<!-- JS и чекбокс показать пароль -->
<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
<script>
$('body').on('click', '.form-check-input', function(){
	if ($(this).is(':checked')){
		$('#password').attr('type', 'text');
		$('#new_password').attr('type', 'text');
		$('#new_password_confirm').attr('type', 'text');
	} else {
		$('#password').attr('type', 'password');
		$('#new_password').attr('type', 'password');
		$('#new_password_confirm').attr('type', 'password');
	}
});
</script>
{% endblock %}
