{% extends 'base.html' %}


{% block title %}
Логин
{% endblock %}


{% block content_title %}

    {{ _('Логин') }}

{% endblock %}


{% block content %}

<div class="col-md-4 offset-md-4">
    {% from "security/_macros.html" import render_field_with_errors, render_field %}
    {% include "security/_messages.html" %}

    <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
        {{ login_user_form.hidden_tag() }}
        {{ render_field_with_errors(login_user_form.email, class="form-control col-4") }}
        {{ render_field_with_errors(login_user_form.password, class="form-control col-4") }}
        <div class="form-check form-check-inline">
        <label>Показать пароль<input class="form-check-input" id="show_pass" type="checkbox"></label>
        </div>
        <div class="form-check form-check-inline">
            {{ render_field_with_errors(login_user_form.remember, class="form-check-input") }}
        </div>
        {{ render_field(login_user_form.next) }}
        {{ render_field(login_user_form.submit, class="btn btn-outline-success",) }}
    </form>

    {% include "security/_menu.html" %}
</div>


<!-- JS и чекбокс показать пароль -->
<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
<script>
$('body').on('click', '#show_pass', function(){
	if ($(this).is(':checked')){
		$('#password').attr('type', 'text');
	} else {
		$('#password').attr('type', 'password');
	}
});
</script>
{% endblock %}
