{% extends 'base.html' %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}



{% block title %}
Регистрация
{% endblock %}

{% block content_title %}
Регистрация
{% endblock %}

{% block content %}
<br>
<div class="form-group col-4">

  <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
  {{ register_user_form.hidden_tag() }}
  {% for field in register_user_form if field.name not in ['csrf_token', 'submit'] %}
  {{ render_field_with_errors(field, class="form-control") }}
  {% endfor %}
   <label><input type="checkbox" class="form-check-input"> Показать пароль</label>
   <br>
   <p>
       <button type="submit" class="btn btn-outline-success">Регистрация</button>
   </p>

   </form>

{% include "security/_menu.html" %}
</div>


<!-- JS и чекбокс показать пароль -->
<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
<script>
$('body').on('click', '.form-check-input', function(){
	if ($(this).is(':checked')){
		$('#password').attr('type', 'text');
		$('#password_confirm').attr('type', 'text');
	} else {
		$('#password').attr('type', 'password');
		$('#password_confirm').attr('type', 'password');
	}
});
</script>
{% endblock %}