/dllb.txt
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/web_bd_bot.iml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/.gitignore
/__pycache__/
/api/__pycache__/
/msfo_records/__pycache__/
/user_profile/__pycache__/