{% extends 'base.html' %}


{% block title %}
Страница пользователя
{% endblock %}


{% block content %}

<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
                <button class="btn btn-secondary">
                    {% if current_user.has_role('admin') %}
                    <img src="{{ url_for('static', filename='img/admin.jpg') }}" height="200" width="200" />
                    {% endif %}
                    {% if current_user.has_role('editor') %}
                    <img src="{{ url_for('static', filename='img/redactor.jpg') }}" height="200" width="200" />
                    {% endif %}
                    {% if not current_user.has_role('admin') and not current_user.has_role('editor') and current_user.gender == 'Мужской' %}
                    <img src="{{ url_for('static', filename='img/male.jpg') }}" height="200" width="200" />
                    {% endif %}
                    {% if not current_user.has_role('admin') and not current_user.has_role('editor') and current_user.gender == 'Женский' %}
                    <img src="{{ url_for('static', filename='img/female.jpg') }}" height="200" width="200" />
                    {% endif %}
                </button> <span class="name mt-3">{{ current_user.last_name }} {{ current_user.first_name }} {{ current_user.middle_name }}</span> <span class="idd">{{ current_user.email }}</span>
                <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1">Пол: {{ current_user.gender }}</span> <span><i class="fa fa-copy"></i></span> </div>
                <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1">Дата рождения: {{ current_user.birthdate.strftime("%d.%m.%Y") }}</span> <span><i class="fa fa-copy"></i></span> </div>
                <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1">ID: {{ current_user.id }}</span> <span><i class="fa fa-copy"></i></span> </div>
                <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1">Роль: {{ current_user.roles }}</span> <span><i class="fa fa-copy"></i></span> </div>
                <div class="d-flex mt-2"> <button class="btn btn-outline-success" type="submit" onClick="location.href='{{ url_for('user_profile.edit_profile')}}'">Редактировать профиль</button> </div>

                {% if security.change_password %}
                  <div class="d-flex mt-2"> <button class="btn btn-outline-success" type="submit" onClick="location.href='{{ url_for('security.change_password')}}'">Сменить пароль</button> </div>
                {% endif %}

                {% if current_user.has_role('admin') %}
                    <div class="d-flex mt-2"> <button class="btn btn-outline-success" type="submit" onClick="location.href='{{ url_for('user_profile.create_test_user')}}'">Создать тестового пользователя</button> </div>
                {% endif %}
                <div class="px-2 rounded mt-4 date "> <span class="join">Профиль обновлён {{ current_user.updated.strftime("%d.%m.%Y") }}</span> </div>
        </div>
    </div>
</div>
{% endblock %}
