{% extends 'base.html' %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}


{% block title %}
    О проекте
{% endblock %}

{% block content_title %}

    <p class="lead text-left lh-base p-4">
        {{ about.title|safe }}
    </p>

{% endblock %}


{% block content %}
{% include "security/_messages.html" %}
    <div class="lead text-left lh-base p-4">
        {{ about.body|safe }}
    </div>
{% endblock %}



{% block footer %}
{{ about.contact_us|safe }}
<div class="conteiner col-4 mx-auto">
Обновлено {{ about.updated|safe }}
</div>
{% endblock %}

