{% extends 'base.html' %}

{% block title %}
    О проекте
{% endblock %}

{% block content_title %}
    О проекте
{% endblock %}

{% block content %}
    <div class="row col-md-7 offset-md-2">
        Описание проекта. Описание проекта. Описание проекта. Описание проекта. Описание проекта.
        Описание проекта. Описание проекта. Описание проекта. Описание проекта. Описание проекта.
        Описание проекта. Описание проекта. Описание проекта. Описание проекта. Описание проекта.
        Описание проекта. Описание проекта. Описание проекта. Описание проекта. Описание проекта.
        Описание проекта. Описание проекта. Описание проекта. Описание проекта. Описание проекта.
    </div>
{% endblock %}