{% extends 'base.html' %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}


{% block title %}
    О проекте
{% endblock %}

{% block content_title %}

    <h1>
        {{ about.title|safe }}
    </h1>

{% endblock %}


{% block content %}
{% include "security/_messages.html" %}
    <div class="lead text-left lh-base p-4">
        {{ about.body|safe }}
    </div>
{% endblock %}



{% block footer %}

<div class="conteiner text-center mx-auto">
    {{ about.contact_us|safe }}
    Обновлено {{ about.updated|safe }}
</div>
{% endblock %}

